name: CI
on:
  pull_request:
    branches: ["*"]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v13
        with:
          java-version: adopt@1.8
      - uses: olafurpg/setup-gpg@v3
      - uses: coursier/cache-action@v5
      - name: Publish
        run: |
          ./mill -i -j 4 __.compile
          ./mill -i -j 4 __.test.compile
          ./mill -i -j 4 __.test

